*{
    margin: 0;
}

button{
    cursor: pointer;
    width: 45pt;
    height: 15pt;
}

input{
    cursor: pointer;
    height: 15pt;
    width: 200pt;
    
}

body{
    background-image: url(ojameséfeio.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30pt;

}

a{
    color: white;
    font-size: 20pt;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Pro', serif;

}

p{
    color: white;
    background-color: purple;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Pro', serif;

}